= semantic_form_for @venue do |f|
  - f.inputs do
    = f.input :name
    = f.input :description
    = f.input :street_address
    = f.input :city
    = f.input :postcode
    = f.input :country, :priority_countries => ["Netherlands", "Belgium", "Denmark", "France", "Germany", "Spain", "United Kingdom"]
  = f.buttons