- title "Venues"

- form_tag( venues_path, :method => :get ) do
  = text_field_tag :search, params[:search], :class => "search", :placeholder => "Search for Venues..."

- lat = (@venues.first.latitude if @venues.first) || nil
- lon = (@venues.first.longitude if @venues.first) || nil

%div{:id => "map", :data => { :path => "venues.json", :lat => lat || 51.92, :lon => lon || 4.49} }

- for venue in @venues
  %div.section
    %h2
      = link_to venue.name, venue
    
    %p
      = venue.street_address
      = venue.city
      = venue.country
%p= link_to "New Venue", new_venue_path