= semantic_form_for @post do |f|
  - f.inputs do
    = f.input :name, :label => "Event name"
    = f.input :rsvp_by, :start_year => Time.now.year, :minute_step => 15, :end_year => Time.now.year + 1
    = f.input :date_of, :start_year => Time.now.year, :minute_step => 15, :end_year => Time.now.year + 1
    = f.input :contact, :hint => "email address of organizer"
    = f.input :category
    = f.input :venue
    = f.input :description
  = f.buttons