- title @title

- form_tag( posts_path, :method => :get ) do
  = text_field_tag :search, params[:search], :class => "search", :placeholder => "Search for Events..."

- lat = (@posts.first.venue.latitude if @posts.first) || nil
- lon = (@posts.first.venue.longitude if @posts.first) || nil

%div{:id => "map", :path => "posts.json", :lat => lat || 51.92, :lon => lon || 4.49 }


- for post in @posts  
  %div.section
    %h2
      = link_to post.name, post
    %p
      %strong Owner
      = post.user.email
  
    -if !post.category.nil?
      %p 
        %strong Category:
        = link_to post.category.name, category_path(post.category)
    %p
      %strong Date of:
      -if !post.date_of.nil?
        = post.date_of.strftime("%b %e, %Y by %l %P")
  
    %p
      = link_to 'permalink', post
      -if can? :update, post
        |
        = link_to 'Edit', edit_post_path(post)
      -if can? :destroy, post
        |
        = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%p
  -if can? :create, @post
    = link_to "Add a New Event", new_post_path