- title @title + @post.name

- id = (@post.id if @post) || nil
- lat = (@post.venue.latitude if @post) || nil
- lon = (@post.venue.longitude if @post) || nil

%div{:id => "map", :data => { :path => "#{id}.json", :lat => lat || 51.92, :lon => lon || 4.49} }

%div.section
  -if !@post.category.nil?
    %p 
      %strong Category:
      = link_to @post.category.name, category_path(@post.category)

  -if !@post.venue.nil?
    %p 
      %strong Venue:
      = link_to @post.venue.name, venue_path(@post.venue)

  %p
    %strong Owner:
    = @post.user.email

  %p
    %strong Contact:
    = @post.contact
  %p
    %strong RSVP by:
    = !@post.rsvp_by.nil? ? @post.rsvp_by.strftime("%b %e, %Y by %l %P") : nil
  %p
    %strong Date of:
    = !@post.date_of.nil? ? @post.date_of.strftime("%b %e, %Y at %l %P") : nil
  %p
    %strong Description:
    = !@post.description.nil? ? @post.description : nil

  %p
    = link_to "Return to events", posts_path  
    -if can? :update, @post
      |
      = link_to "Edit", edit_post_path(@post)
    -if can? :destroy, @post
      |
      = link_to "Delete Category", @post, :confirm => 'Are you sure?', :method => :delete
